services:
  whisper-saas:
    build: .
    container_name: whisper_api_service
    ports:
      - "3333:3333"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - ./users.db:/app/users.db      # API Anahtarlarını korur
      - ./kayitlar:/app/kayitlar      # Kayıtları dışarıya çıkarır
    restart: always
